@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
  }
  
  .back {
    padding: 10px;
    cursor: pointer;
  
  }
  
  a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 20px;
    font-weight: 500;
  }
  
  body{
    background-image: url(/img/descarga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(230, 230, 230);
    overflow: hidden;
    
   
  }
  .abilities {
    
    font-size: 20px;
    font-weight: 500;
    
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    gap: 40px;
  
  
  }
  
  ul {
    display: flex;
    justify-content: center;
    height: 250px;
    width: 300px;
    padding: 15px;
    list-style: none;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.363);
  
  }
  
  li {
    border: solid 1px rgb(230, 230, 230);
    height: fit-content;
    border-radius: 5px;
    padding: 10px;
    background-color: rgba(100, 63, 134, 0.596);
  }
  
  @media (min-width:980px) {
    ul {
      height: 350px;
      width: 450px;
  
    }
  
  
  }