@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
  cursor: url("../img/cursor2.png" ) 10 5 , pointer;
}



.button{
  display: flex;
  justify-content: flex-start;
  margin: 15px;
  
}





a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

body {
  background:
    linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 100vh;
  color:  #3a0b3a;


}

h1{

 text-align: center;
 margin: 50px;

}



ul {
 display: flex;
 flex-wrap: wrap;
 margin: auto;
 padding-top: 10vh;
 max-width: 90vh;
 justify-content: center;
 gap: 15px;

}



li {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  height: fit-content;
  
 }

li:hover{
 -webkit-transform: rotate(360deg);transform: rotate(360deg);
 
}
 img{
  cursor: url("../img/pointer.png" ) 10 5 , pointer;
 }
 


.btn{
  
  cursor: url("../img/pointer.png" ) 10 5 , pointer;
}



@media (min-width:980px) {
  ul {
    height: 350px;
    width: 450px;

  }

 

}