@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
}

.button{
  margin: 10px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
  transform: translateY(-3px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s;
}

.btn:hover::after {
  background-color: rgb(220, 5, 248);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}





a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

body {
  background:
    linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 100vh;
  color: rgb(230, 230, 230);


}

.abilities {

  font-size: 20px;
  font-weight: 500;

  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: 40px;


}

ul {
  display: flex;
  justify-content: center;
  height: 350px;
  width: 300px;
  padding: 15px;
  list-style: none;
  flex-wrap: wrap;
  gap: 10px;
  border-radius: 77px;
  background: linear-gradient(145deg, #0000005d, #b9a3ba);
  box-shadow: 35px 35px 70px #9e8b9f,
    -35px -35px 70px #fcdfff;
  max-width: 600px;
  margin: auto;

}



li {
  font-size: 18px;
  letter-spacing: 2px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  border: solid 1px rgb(230, 230, 230);
  border-radius: 5px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  transition: 0.3s ease all;
  z-index: 1;
  height: fit-content;
  
 }
 
 li:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: '';
  background-color: rgba(100, 63, 134, 0.596);;
  z-index: -1;
 }
 
 li:hover, li:focus {
  color: white;
 }
 
 li:hover:before, li:focus:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
 }
 
 li:active {
  transform: scale(0.9);
 }

@media (min-width:980px) {
  ul {
    height: 350px;
    width: 450px;

  }

 

}