* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
  cursor: url("../img/cursor2.png" ) 10 5 , pointer;

}

body {
  background:
    linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  color:  #3a0b3a;





}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  height: 85vh;
  width: 85vw;
  max-width: 800px;
  background: rgba(125, 75, 109, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(125, 75, 109, 0.3);
  z-index: 1;
  


}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85%;
  width: 85%;

}

.grid {

  display: flex;
  flex-direction: column;
  gap: 5px;


}

input {
  border-radius: 10px;
  padding: 6px;
  height: 38px;
  background: none;
  border: 2px solid  #ffffff;
  outline: none;
  color:#1b1b1b;
  cursor: url("../img/cursor1.png" ) 10 5 , text;
  
}

textarea {
  padding: 6px;
  outline: none;
  border-radius: 5px;
  background: none;
  border: solid #ffffff 2px;
  color:#ffffff;
  
}

.btn1 {
  background: none;
  border: none;
  padding: 20px 5px;
  cursor: url("../img/pointer.png" ) 10 5 , pointer;
}
  
.btn{
  cursor: url("../img/pointer.png" ) 10 5 , pointer;
}




.boton {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  padding: 40px;



}

