* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;

}

body {
  background:
    linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  color: rgb(230, 230, 230);





}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 20px;
  height: 85vh;
  width: 85vw;
  max-width: 800px;
  background: rgba(125, 75, 109, 0.57);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border: 1px solid rgba(125, 75, 109, 0.3);
  z-index: 1;
  


}

.form-submit {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 85%;
  width: 85%;

}

.grid {

  display: flex;
  flex-direction: column;
  gap: 5px;


}

input {
  border-radius: 10px;
  border: none;
  padding: 3px;
  height: 30px;
  background: none;
  border: solid rgba(230, 230, 230, 0.747) 2px;
  color: rgb(230, 230, 230);
}

textarea {
  border-radius: 5px;
  background: none;
  border: solid black 2px;
  border: solid rgba(230, 230, 230, 0.747) 2px;
  color: rgb(230, 230, 230);
}

.btn1 {
  background: none;
  border: none;
  padding: 20px 5px;
  cursor: pointer;
}



.boton {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  padding: 40px;



}

