* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;

}

body {
    background-image: url(/img/Vast\ Universe\,\ Michal\ Kváč.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(230, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;


}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 85vh;
    width: 85vw;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.363);


}

.form-submit {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85%;
    width: 85%;

}

.grid {

    display: flex;
    flex-direction: column;
    gap: 5px;


}

input {
    border-radius: 10px;
    border: none;
    padding: 3px;
    height: 25px;
    background:none;
    border: solid rgba(230, 230, 230, 0.747) 2px;
    color: rgb(230, 230, 230);
}

textarea {
    border-radius: 5px;
    background:none;
    border: solid black 2px;
    border: solid rgba(230, 230, 230, 0.747) 2px;
}

.btn { background: none;
    border: groove 4px rgb(223, 6, 42);
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);;
    cursor: pointer;}


.back {
    padding: 10px;
    cursor: pointer;
    position: fixed;
    left: 0;
    top: 0;

}

a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 20px;
    font-weight: 500;
}



