@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;
  cursor: url("../img/cursor2.png" ) 10 5 , pointer;

  

}



body {
  background:
    linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
 
 

}

.background {
 
  margin: auto;
  height: 100vh;


}

.text1 {
  
  color:#3a0b3a;
  margin: auto;
  max-width: 90vh;
  text-align: center;
}

.me-spanish {
  display: none;
}

.title {
  color: #3a0b3a;
  text-align: center;
  font-size: 25px;
  padding: 20px;

  animation: mover2 3s ;
}



.boton {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 30px;
  
}

.btn{
  border: 2px solid #3a0b3a;
  border-radius: 50px;
  padding: 9px;
}

.btn:hover{
  color:#d141d1;
}



.foto{
  width: 90px;
  height: 90px;
  border-radius: 90px;
  
  box-shadow: 0px 0px 20px  #3a0b3a;

  animation: mover 3s ;
 

}

.foto-container{
  padding-top: 140px;
  display: flex;
  justify-content: center;
}

@keyframes mover {
  0% {
    transform: translatex(300%);
    
  }

  100% {
    transform: translatex(0);
    
  }
}


@keyframes mover2 {
  0% {
    transform: translatex(-40%);
    color: rgba(255, 255, 255, 0.842); 
  }

  100% {
    transform: translatex(0);
    
  }
}

@media (min-width:980px) {
  .me {
    font-size: 20px;
    font-weight: 800;
    
  }

  .title {
    font-size: 45px;
  }

  .foto{
    width: 160px ;
    height: 160px;
  }
  


}