@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
    
  }

  html{
    overflow: scroll;
  }
  
  body{
    background-image: url(/img/Purple\ Arch\ [1920x1080].jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(230, 230, 230);
    overflow: hidden;
  }

.me{
    padding: 80px 30px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 800;
    max-width: 600px;
    margin: auto;
    
      
}

.me-spanish{
  display: none;
}

.title{
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    padding: 20px;
}

p{
    background-color: rgba(0, 0, 0, 0.363);
    padding: 10px;
}


.boton{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 30px;
}

button{
    background: none;
    border: groove 4px rgb(223, 6, 42);
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    color: rgb(255, 255, 255);;
    cursor: pointer;
}

@media (min-width:980px) {
  .me{
    font-size: 20px;
    font-weight: 800;
    padding: 90px 30px;
  }

  .title{
    font-size: 45px;
  }

  
}