@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');




* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chivo Mono', monospace;

}



body {
  background:
    linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 100vh;




}

.background {
  border-radius: 77px;
  background: linear-gradient(145deg, #dbc2dd, #b9a3ba);
  box-shadow: 35px 35px 70px #9e8b9f,
    -35px -35px 70px #fcdfff;
  max-width: 600px;
  margin: auto;


}

.me {
  padding: 70px 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 800;
  max-width: 600px;
  margin: 10px;
  background-color: rgba(80, 79, 79, 0.363);
  border-radius: 77px;


}

.me-spanish {
  display: none;
}

.title {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 25px;
  padding: 20px;
}



.boton {
  display: flex;
  justify-content: center;
  padding: 40px;
  gap: 30px;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 1000px;
  display: inline-block;
  transition: all .2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
}

.btn:active {
  transform: translateY(-3px);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
  transition: all .3s;
}

.btn:hover::after {
  background-color: rgb(220, 5, 248);
  transform: scaleX(1.4) scaleY(1.5);
  opacity: 0;
}

@media (min-width:980px) {
  .me {
    font-size: 20px;
    font-weight: 800;
    padding: 90px 30px;
  }

  .title {
    font-size: 45px;
  }


}