 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chivo Mono', monospace;
  }

  body{
    background:
    linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 100%;
  color: rgb(230, 230, 230);

  
  }

  .coming{
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:center ;
    height: 100vh;
    
    
  }

  a {
    text-decoration: none;
    color: rgb(230, 230, 230);
    font-size: 20px;
    font-weight: 500;
  }

  .button{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 40px;
    
    
  }
  
  .btn{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50px;
    width: fit-content;
    padding: 9px;
    color:rgb(255, 255, 255) ;
  }
  
  .btn:hover{
    color: rgb(236, 19, 56);
  }
  

 
