 @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Chivo+Mono:ital,wght@1,300&family=Fira+Sans&family=Inter&family=Island+Moments&family=Noto+Sans:ital@1&family=Playfair+Display:ital,wght@1,400;1,500&family=Raleway:ital,wght@0,400;1,300&family=Roboto:wght@300&display=swap');


 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Chivo Mono', monospace;
   cursor: url("../img/cursor2.png") 10 5, pointer;
 }

 body {
   background:
     linear-gradient(334deg, rgb(154, 130, 201) 0% 6.00%, rgb(234, 181, 219) 94.00% 100%);
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: scroll;
   background-position: center;
   color: #3a0b3a;
   height: 100vh;


 }

 .coming {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
 
   


 }

 .button {
   display: flex;
   justify-content: flex-start;
   flex-direction: column;
   margin: 20px;


 }

 .btn {
   cursor: url("../img/pointer.png") 10 5, pointer;
 }


 .cv,
 .movie {
   border: 1px solid  #3a0b3a;
   border-radius: 50px;
   box-shadow: 10px 10px 20px #3a0b3a;
   height: 250px;
   width: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding: 10px;
   position: relative;


 }

 .cv-info,
 .movie-info {
   height: 250px;
   width: 250px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   cursor: url("../img/pointer.png") 10 5, pointer;
   color: aliceblue;
  }


 .contenedor2 {
   border: 1px solid  #3a0b3a;
   border-radius: 50px;
   box-shadow: 10px 10px 20px #3a0b3a;
   position: absolute;
   background-color: #3a0b3ae0;
   transition: all 500ms ease-out;
   opacity: 0;
   visibility: hidden;
 
}

 .contenedor4 {
  border: 1px solid  #3a0b3a;
   border-radius: 50px;
   box-shadow: 10px 10px 20px #3a0b3a;
  position: absolute;
  background-color: #3a0b3ae0;
  transition: all 500ms ease-out;
  opacity: 0;
  visibility: hidden;
  
  }

 .cv:hover > .contenedor2{
  opacity: 1;
  visibility: visible;
  color: antiquewhite;
}

.movie:hover > .contenedor4{
  opacity: 1;
  visibility: visible;
  color: antiquewhite;
}

.title{
  color: #3a0b3a;
  text-align: center;
  font-size: 25px;
  padding: 100px;
}